main{
    margin: 4rem 0;
}

.linea-con-texto {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4rem 0;
    font-size: 1.5em;
}

.linea-con-texto::before,
.linea-con-texto::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #F7C608;
}

.linea-con-texto:not(:empty)::before {
    margin-right: 0.25em;
}

.linea-con-texto:not(:empty)::after {
    margin-left: 0.25em;
}