@import url('../index.css');

.producto{
    height: 35em;
    padding: 1em;
}

.imagen-producto{
    width: 100%;
    height: 70%;
    cursor: pointer;
}

.h5-producto{
    font-size: 1.2em;
}

.h4-producto{
    font-size: 2em;
}

.div-btn{
    margin-top: .3em;
    text-align: center;
}

.producto button{
    background-color: var(--color-principal);
    border: none;
    border-radius: 1em;
    padding: .3em 2em;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.producto button:hover{
    background-color: rgb(253, 139, 158);
}
