.productos{
    margin-top: 5em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,17%);
    width: 100%;
}

.seccion-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 4em;
}

.seccion-buscador .buscador{
    width: 20%;
    position: relative;
    border-radius: 1em;
}

.seccion-buscador .buscador .icon{
    color: var(--color-principal);
    font-size: 2em;
    height: 100%;
    position: absolute;
    left: 2%;
}

.input{
    font-size: 1.8em;
    border: 1px solid var(--color-principal);
    color: var(--color-principal);
    font-weight: 900;
    outline: none;
    padding: .1em 0 .1em 1.5em;
    width: 100%;
    border-radius: 1em;
}

.filtro-precio{
    font-size: 1.6em;
}

.filtro-precio label{
    margin-left: .8em;
    margin-right: .2em;
    color: var(--color-principal);
    font-weight: 900;
}

.filtro-precio input{
    font-size: 1em;
    border: 1px solid var(--color-principal);
    color: var(--color-principal);
    font-weight: 900;
    outline: none;
    padding: .1em 0 .1em 1.5em;
    width: 30%;
    border-radius: 1em;
}

.sin-resultados-desactivado{
    display: none;
}
.sin-resultados-activado{
    display: block;
    align-items: center;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    width: 66.5%;
    margin: 0 auto 1em auto;
}
.sin-resultados-activado h4{
    background-color: pink;
    padding: 4em 2em;
    color: white;
}

@media screen and (width<=1440px) {
    .productos{
        grid-template-columns: repeat(3,23%);
    }
}

@media screen and (width<=1024px) {
    .productos{
        grid-template-columns: repeat(3,30%);
    }
    .sin-resultados-activado{
        font-size: 3em;
    }
}

@media screen and (width<=768px) {
    .productos{
        grid-template-columns: repeat(2,40%);
    }
    .seccion-buscador{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .seccion-buscador .buscador{
        width: 60%;
        margin-bottom: 1em;
    }
    .filtro-precio{
        font-size: 1.4em;
    }
    .sin-resultados-activado{
        font-size: 2em;
    }
    .sin-resultados-activado h4{
        padding: 3em 1em;
    }
}

@media screen and (width<=500px) {
    .productos{
        grid-template-columns: repeat(1,80%);
    }
    .sin-resultados-activado{
        font-size: 1.4em;
    }
    .sin-resultados-activado h4{
        padding: 3em 1em;
    }
}