.menu {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 20%);
    gap: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em;
    max-height: 50em;
    overflow-y: auto; /* Agrega scroll vertical si es necesario */
}

/* Estilos para el scroll personalizado */
.menu::-webkit-scrollbar {
    width: 5px; /* Ancho del scroll */
}

.menu::-webkit-scrollbar-thumb {
    background-color: #F7C608; /* Color del scroll */
    border-radius: 10px;
 /* Sombreado para que se vea en fondo blanco */
}

.menu::-webkit-scrollbar-track {
    background: transparent; /* Fondo del track del scroll */
}

/* Contenedor del filtro */
.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Etiqueta del select */
.filter-container label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #F7C608;
}

/* Estilos del select */
.categoria-select {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

/* Estilos para el select cuando se hace hover */
.categoria-select:hover {
    border-color: #F7C608;
}

/* Estilos para el select cuando está enfocado */
.categoria-select:focus {
    border-color: rgb(247, 198, 8);
    box-shadow: 0 0 5px rgba(247, 198, 8, 0.5);
}


img{
    width: 100%;
    height: 80%;
}

@media (max-width: 1200px) {
    .menu {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas para dispositivos medianos */
    }
}

@media (max-width: 800px) {
    .menu {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para dispositivos pequeños */
    }
}

@media (max-width: 500px) {
    .menu {
        grid-template-columns: 1fr; /* 1 columna para dispositivos muy pequeños como teléfonos */
    }
}