@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Square+Peg&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Square Peg", cursive;
}

:root {
    --color-principal: #f47eae;
}

body{
    max-width: 100%;
}
